{% extends "layout.html" %}
{% block content %}
  <div class="row">
    <ol class="breadcrumb">
      <li class="active">Home</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-sm-8 col-md-9">
      <h1>Catalog</h1>
      <div class="row">
      {% for category in categories %}
        <div class="col-xs-4 text-center">
          <a href="{{url_for('items', category_id=category.id)}}">
            <img src="{{ url_for('static', filename = 'resources/img/placeholder.png') }}" class="img-thumbnail img-responsive">
            <h3 class="text-center">{{category.name}}</h3>
          </a>
        </div>
        {% if loop.index % 3 == 0 %}
        <div class="clearfix col-xs-12"></div>
        {% endif %}
      {% endfor %}
      </div>
    </div>
    <div class="col-sm-4 col-md-3">
      <h1>Latest Items</h1>
      <div class="row">
        <ul>
        {% for item in latestItems %}
          <li><small><a href="{{url_for('item', category_id=item.category_id, item_id=item.id)}}">{{item.name}}</a></small></li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}