{% extends "layout.html" %}
{% block content %}
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">{{category.name}}</li>
    </ol>
  </div>
  <div class="row">
  {% for item in items %}
    <div class="col-xs-3 text-center">
      <a href="{{url_for('item', category_id=category.id, item_id=item.id)}}">
        <img src="{{url_for('getImage', item_id=item.id)}}" class="img-thumbnail img-responsive"/>
        <h5>{{item.name}}</h5>
      </a>
    </div>
    {% if loop.index % 4 == 0 %}
    <div class="clearfix col-xs-12"></div>
    {% endif %}
  {% endfor %}
  </div>
{% endblock %}