{% extends "layout.html" %}
{% block content %}
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="{{url_for('items', category_id=category.id)}}">{{category.name}}</a></li>
      <li class="active">{{item.name}}</li>
    </ol>
  </div>
  <div class="row">
    <p><b>{{item.name}}</b></p>
    <p>{{item.description}}</p>
    {% if updateAllowed %}
    <p>
      <a href="{{url_for('itemEdit', category_id=category.id, item_id=item.id)}}" class="btn btn-warning" role="button">Edit</a>
      <a href="{{url_for('itemDelete', category_id=category.id, item_id=item.id)}}" class="btn btn-danger" role="button">Delete</a>
    </p>
    {% endif %}
  </div>
{% endblock %}